server:
  port: 8080

spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      routes:
        # ---------------------------------------------------
        # 1. AUTH SERVICE
        # ---------------------------------------------------
        - id: auth-service
          uri: http://auth-service-container:8083
          predicates:
            - Path=/api/auth/**

        # ---------------------------------------------------
        # 2. CATALOG SERVICE
        # ---------------------------------------------------
        - id: catalog-service-public
          uri: http://catalog-service-container:8081
          predicates:
            - Path=/api/products/**, /api/categories/**
            - Method=GET

        - id: catalog-service-secured
          uri: http://catalog-service-container:8081
          predicates:
            - Path=/api/products/**, /api/categories/**
            - Method=POST, PUT, DELETE
          filters:
            - AuthenticationFilter

        # ---------------------------------------------------
        # 3. MERCHANT SERVICE
        # ---------------------------------------------------
        - id: merchant-service-public
          uri: http://merchant-service-container:8082
          predicates:
            - Path=/api/stores/**
            - Method=GET

        - id: merchant-service-secured
          uri: http://merchant-service-container:8082
          predicates:
            - Path=/api/stores/**
            - Method=POST, PUT, DELETE
          filters:
            - AuthenticationFilter

management:
  endpoints:
    web:
      exposure:
        exclude: health,info